<form (ngSubmit)="applyFilters()" class="filters-form">
  <div class="row align-items-end">
    <div class="col-md-3">
      <label for="genre">Genre:</label>
      <select id="genre" class="form-control" [(ngModel)]="selectedGenre" name="genre">
        <option value="">Select Genre</option>
        <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="language">Language:</label>
      <select id="language" class="form-control" [(ngModel)]="selectedLanguage" name="language">
        <option value="">Select Language</option>
        <option *ngFor="let language of languages" [value]="language">{{ language }}</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="year">Year:</label>
      <input type="number" id="year" class="form-control" [(ngModel)]="year" name="year" placeholder="Enter Year">
    </div>
    <div class="col-md-3">
      <button type="submit" class="btn btn-primary btn-block mt-2">Apply Filters</button>
    </div>
  </div>
</form>
